
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

.font-handwriting {
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
}

.signature-line {
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  display: inline-block;
}
