
/* Signatures.css */
.signature-canvas {
  -webkit-touch-callout: none;  /* iOS Safari */
  -webkit-user-select: none;    /* Safari */
  -khtml-user-select: none;     /* Konqueror HTML */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* Internet Explorer/Edge */
  user-select: none;            /* Non-prefixed version */
  touch-action: none;
}

.signature-canvas canvas {
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
}
